*{
	font-family: Trebuchet MS;
}

body, ul, li{
	margin: 0;
	padding: 0;
}

p, li, h1, h2, h3, h4{
	color: #4e4e4e;
}

body{
	background: #f7f7f7;
}

.wrapper{
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2%;
}

header{
	background: #e7e7e7;
	padding: 20px 0;
}

header h1{
	margin: 0;
	text-indent: -10000px;
	background: url(../img/logo.jpg) no-repeat;;
	width: 140px;
	float: left;
}

header nav{
	float: right;
}

header nav h2{
	line-height: 0;
	margin: 0;
	text-indent: -10000px;
}

header nav ul{
	margin: 0;
	padding: 0;
}

header nav li{
	list-style-type: none;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

header nav a{
	text-decoration: none;
	color: #4e4e4e;
	text-transform: uppercase;
	font-weight: bold;
}

header nav a.current{
	color: #4bdb9a;
}

header:after{
	display: block;
	content: "";
	clear: both;
}

.jumbotron {
	width: 100%;
	padding: 200px 0px;
	text-align: center;
	color: white;
	background-color: #aaa;
	background-image: url("../img/banner.jpg");
	background-size: cover;
	position: relative;
}

.jumbotron h1{
	color: white;
	font-family: "Times New Roman", Times, serif;
}

.jumbotron h2{
	color: #999999;
	font-family: "Times New Roman", Times, serif;
}

.jumbotron button {
	border-radius: 5px;
	background-color: #008CBA; /* Green */
	border: none;
	color: white;
	padding: 14px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

#selling-points{
	margin-top: 60px;
}

#selling-points li{
	width: 23%;
	float: left;
	text-align: center;
	list-style-type: none;
	padding: 1%;
	line-height: 1.6em;
}

#selling-points:after{
	clear: both;
	display: block;
	content: "";
}

#latest-work{
	padding-top: 30px;
	margin-top: 30px;
	border-top: 2px solid #e4e4e4;
}

#latest-work h2{
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 40px;
}

#latest-work li{
	width: 32%;
	float: left;
	list-style-type: none;
}

#latest-work li img{
	width: 100%;
}

#latest-work li:nth-child(2){
	margin: 0 2%;
}

#latest-work ul:after{
	content: "";
	display: block;
	clear: both;
}

#latest-work h3{
	margin-bottom: 0px;
}

#latest-work p{
	line-height: 1.6em;
}

p.tags{
	color: #bbb;
	font-size: 14px;
	margin-top: 5px;
}

#quote{
	margin-top: 60px;
	width: 60%;
	padding: 40px 20%;
	background: url(../img/quote.jpg) no-repeat center 20px;
	background-color: #efefef;
	text-align: center;
	color: #4e4e4e;
	font-size: 20px;
	line-height: 1.6em; 
}

footer{
	background: #202020;
	padding: 30px 0;
	border-top: 10px solid #151515; 
}

footer h4{
	margin: 0;
	color: #555555;
	text-transform: uppercase;
	font-size: 18px;
}

footer ul{
	float: left;
	width: 25%;
	list-style-type: none;
}

footer:after{
	content: "";
	display: block;
	clear: both;
}

footer li{
	color: #aaaaaa;
	width: 80%;
	margin: 20px 0;
	font-size: 14px;
	line-height: 1.6em;
}

footer li.tw{
	padding-left: 20px;
	background: url(../img/twit.jpg) no-repeat left 6px;
}

#copyright{
	clear: both;
	padding-top: 30px;
	margin-top: 30px;
	float: left;
	width: 100%;
	border-top: 2px solid #333333;
	color: #999999;
	font-size: 14px;
}

/* Media Queries */

@media screen and (max-width: 960px){
	.jumbotron {
		width: 100%;
		padding: 200px 0px;
		text-align: center;
		color: white;
		background-color: #aaa;
		background-image: url("../img/banner-m.jpg");
		background-size: cover;
		position: relative;
	}

	.jumbotron h1{
		color: white;
		font-size: 30px;
		font-family: "Times New Roman", Times, serif;
	}
	
	.jumbotron h2{
		color: #999999;
		font-size: 25px;
		font-family: "Times New Roman", Times, serif;
	}

	.jumbotron button {
		border-radius: 5px;
		background-color: #008CBA; /* Green */
		border: none;
		color: white;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	
	#selling-points li{
		width: 40%;
		padding: 0 5%;
		margin: 20px 0;
	}

	footer ul{
		width: 50%;
	}

	footer ul:nth-child(odd){
		clear: both;
	}

	#quote{
		width: 90%;
		padding: 40px 5%;
	}
}

@media screen and (max-width: 768px){
	.jumbotron {
		width: 100%;
		padding: 150px 0px;
		text-align: center;
		color: white;
		background-color: #aaa;
		background-image: url("../img/banner-m.jpg");
		background-size: cover;
		position: relative;
	}

	.jumbotron h1{
		color: white;
		font-size: 25px;
		font-family: "Times New Roman", Times, serif;
	}
	
	.jumbotron h2{
		color: #999999;
		font-size: 20px;
		font-family: "Times New Roman", Times, serif;
	}

	.jumbotron button {
		border-radius: 5px;
		background-color: #008CBA; /* Green */
		border: none;
		color: white;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	header nav{
		float: none;
	}

	header nav li{
		margin-left: 0;
		width: 16.66%;
		text-align: center;
		font-size: 14px;
	}

	header h1.logo{
		float: none;
		margin: 0 auto 15px;
	}

	#latest-work li{
		width: 60%;
		margin: 30px 20% !important;
		float: none;
	}

	#latest-work h2{
		text-align: center;
	}
}

@media screen and (max-width: 480px){
	.jumbotron {
		width: 100%;
		padding: 100px 0px;
		text-align: center;
		color: white;
		background-color: #aaa;
		background-image: url("../img/banner-s.jpg");
		background-size: cover;
		position: relative;
	}

	.jumbotron h1{
		color: white;
		font-size: 20px;
		font-family: "Times New Roman", Times, serif;
	}
	
	.jumbotron h2{
		color: #999999;
		font-size: 15px;
		font-family: "Times New Roman", Times, serif;
	}

	.jumbotron button {
		border-radius: 5px;
		background-color: #008CBA; /* Green */
		border: none;
		color: white;
		padding: 10px 15px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	#selling-points li{
		width: 80%;
		padding: 0 10%;
		margin: 20 0;
	}

	#latest-work li{
		width: 80%;
		margin: 30px 10% !important;
	}

	#quote{
		font-size: 16px;
		font-weight: bold;
	}

	footer ul{
		width: 100%;
		float: none;
		border-top: 2px solid #333333;
	}

	header nav li{
		float: none;
		width: 100%;
		margin: 0; 
	}

	header nav{
		background: #555;
	}

	header .wrapper{
		padding: 0;
		width: 100%;
	}

	header{
		padding-bottom: 0;
	}

	header nav li a{
		display: block;
		text-align: center;
		padding: 10px;
		color: #999999;
		border-top: 1px solid #4f4f4f;
	}

	#burger-nav{
		width: 100%;
		height: 40px;
		background: url(../img/burger.png) no-repeat 98% center;
		cursor: pointer;
	}

	header nav ul{
		height: 0;
		overflow: hidden;
	}

	header nav ul.open{
		height: auto;
	}
}